/* header viewport and bg */
header {
  height: 15vh;
  background-image: url('../img/wall.png');
  background-size: cover;
  background-position: center;          
  background-repeat: no-repeat;   
}

/* body viewport and bg */
body {
  height: calc(100vh - 15vh);
  background-image: url('../img/cork.png');
  background-size: cover;
  background-position: center;          
  background-repeat: repeat;   
  min-height: 100vh; 
}

/* title style */
h1 {
  font-family: 'Edu TAS Beginner', sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.container{
  margin-top: 1rem;
}

/* card dimension */
.card{
  height: 360px;
  width: 300px;
  padding: 0.5rem;
  margin: 1rem;
}

/* pin dimension and position */
.pin{
  height: 30px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
}

/* card img */
.card img {
  width: 100%;
  padding-top: 0.5rem;
  display: block;
  margin: 0 auto;
}

/* top card */
.card-top{
  position: relative;
  padding-top: 1rem;
}

/* date text style */
.date {
    font-family: "Sometype Mono", monospace;
}

/* place text style */
.place {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* down card margin and text */
.down-card {
  margin-left: 1rem;
  text-align: left;
  padding-top: 1rem;
}

/* overlay bg, viewport 100 and style */
#overlay{   
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: 9999;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  display: none;
}

/* img overlay */
#overlay img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

/* btn position */
#btn-close {
  position: absolute;
  top: 10px;
  left: 50%;  
  padding: 0.5rem 1rem;
}